<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="../views/css/style.css">
</head>
<body>
  <div class="wrapper">
    <h1 class="header1">
      Homepage
    </h1>
    <img src="../views/imgs/node.png" alt="nodeImg" width="100px" draggable="false">
    <div class="wrapper wrapper2">
      <a class="ancher" href="./subRoute/">> subRoute</a>
      <a class="ancher" href="./subRoute/sub1">> subRoute 1</a>
      <a class="ancher" href="./old-page">> old-page</a>
    </div>
  </div>
</body>
</html>