<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>subRoute</title>
  <link rel="stylesheet" href="../../views/css/style.css">
</head>
<body>
  <div class="wrapper">
    <h1 class="header1">
      subRoute
    </h1>
    <h2 class="header2">
      Route &nbsp; ./subRoute/index.html
    </h2>
    <div class="wrapper wrapper2">
      <a class="ancher" href="/">> Home</a>
    </div>
  </div>
</body>
</html>